NODE_ENV = "development"

HOST = "localhost"
PORT = 8000

#Database
DATABASE_HOST="localhost"
DATABASE_USERNAME="admin"
DATABASE_PASSWORD="password"
DATABASE_URL="mongodb://admin:password@HOST:27017/chat?authSource=admin"

#Security
WHITELISTED_DOMAINS = "http://localhost:3000"