.App {
    height: 100svh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.chat {
    max-width: 480px;
    max-height: 720px;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 480px) {
    .chat {
        border: 4px solid black;
        border-radius: 12px;
    }
}

.messages {
    padding: 12px;

    height: 100%;
    overflow-y: auto;
    scroll-behavior: auto;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.messageWrapper {
    border: 2px solid black;
    border-radius: 12px;

    padding: 12px;
    padding-bottom: 2px;

    max-width: 320px;
    width: fit-content;

    display: flex;
    flex-direction: column;
}

.messageWrapper_user {
    align-self: flex-end;
}

.messageWrapper_friend {
    align-self: flex-start;
}

.messageTime {
    align-self: flex-end;

    font-size: 10px;
}

.message {
}

.chatForm {
    border-top: 2px solid black;

    padding: 12px;

    display: flex;
    align-items: center;
    gap: 12px;
}

.chatInput {
    outline: 2px solid black;
    border-radius: 6px;

    padding: 2px;

    width: 100%;
}

.chatSubmit {
    border-radius: 12px;

    padding: 6px 12px;

    background-color: teal;

    color: whitesmoke;
}
