NODE_ENV = "development"

HOST="localhost"
PORT = 8000

#Database
DATABASE_HOST=localhost
DATABASE_USERNAME=admin
DATABASE_PASSWORD=password
DATABASE_URL=mongodb://admin:password@127.0.0.1:27017/chat?authSource=admin&directConnection=true

#Security
WHITELISTED_DOMAINS = "http://localhost:3000"

#JWT Auth
#Here goes 'abrokadabra' acces and refresh RSA keys
JWT_ACCES_PRIVATE_KEY = "acces RSA private Key like djfj34w809rj..."
JWT_ACCES_PUBLIC_KEY = "acces RSA public Key like 87GH87gKLJ..."
JWT_ACCES_EXPIRED = 15
JWT_REFRESH_PRIVATE_KEY = "refresh RSA private Key like F&56f7f76..."
JWT_REFRESH_PUBLIC_KEY = "refresh RSA public Key like VHG76%F&76f7ghj..."
JWT_REFRESH_EXPIRED = 60

#Cache
REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_URL="redis://localhost:6379"
