NODE_ENV="development"

HOST="localhost"
PORT=8000

#Database
DATABASE_HOST=localhost
DATABASE_USERNAME=admin
DATABASE_PASSWORD=password
DATABASE_URL=mongodb://admin:password@127.0.0.1:27017/chat?authSource=admin&directConnection=true

#Security
WHITELISTED_DOMAINS="http://localhost:3000,http://localhost:8000"

#JWT Auth
#Here goes 'abrokadabra' acces and refresh RSA keys
JWT_ACCES_PRIVATE_KEY="accesRSAprivateKeylikedjfj34w809rj..."
JWT_ACCES_PUBLIC_KEY="accesRSApublicKeylike87GH87gKLJ..."
JWT_ACCES_EXPIRED=15
JWT_REFRESH_PRIVATE_KEY="refreshRSAprivateKeylikeF&56f7f76..."
JWT_REFRESH_PUBLIC_KEY="refreshRSApublicKeylikeVHG76%F&76f7ghj..."
JWT_REFRESH_EXPIRED=60

#Cache
REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_PASSWORD=000000
REDIS_CACHE_EXPIRED=60